.menu {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 12px;
}

.menu--item {
  display: flex;
  height: 45px;
  align-items: center;
}
.menu--item a {
  text-decoration: unset;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
}
.menu--item:hover {
  cursor: pointer;
}
.menu--item.menu--item__selected {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(253,123,56,0.1558998599439776) 100%);
  border-right: 3px solid var(--primary-color);
}
.menu--item * {
  transition: color .3s cubic-bezier(.645,.045,.355,1),border-color .3s cubic-bezier(.645,.045,.355,1),background .3s cubic-bezier(.645,.045,.355,1),padding .15s cubic-bezier(.645,.045,.355,1);
}
.menu--item:hover *,
.menu--item.menu--item__selected * {
  color: var(--primary-color);
}
